[submodule "elein"]
	path = elein
	url = http://github.com/remvee/elein.git
[submodule "magit"]
	path = magit
	url = http://github.com/philjackson/magit.git
[submodule "gist.el"]
	path = gist.el
	url = http://github.com/defunkt/gist.el.git
[submodule "org-mode"]
	path = org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "clojure-mode"]
	path = clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "slime"]
	path = slime
	url = https://github.com/nablaone/slime.git
[submodule "slime-company"]
	path = slime-company
	url = https://github.com/emacsmirror/slime-company.git
[submodule "swank-clojure"]
	path = swank-clojure
	url = https://github.com/technomancy/swank-clojure.git
[submodule "cl-closure-template"]
	path = cl-closure-template
	url = https://github.com/archimag/cl-closure-template.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = https://github.com/emacsmirror/yasnippet.git
[submodule "js2-mode"]
	path = js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "swank-js"]
	path = swank-js
	url = git://github.com/ivan4th/swank-js.git
[submodule "plugins/zencoding"]
	path = plugins/zencoding
	url = https://github.com/rooney/zencoding.git
[submodule "plugins/midje-mode"]
	path = plugins/midje-mode
	url = git://github.com/dnaumov/midje-mode.git
[submodule "plugins/undo-tree"]
	path = plugins/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "plugins/slamhound"]
	path = plugins/slamhound
	url = https://github.com/technomancy/slamhound.git
[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = https://github.com/m2ym/auto-complete
[submodule "plugins/ac-slime"]
	path = plugins/ac-slime
	url = https://github.com/purcell/ac-slime.git
