[submodule "elein"]
	path = elein
	url = http://github.com/remvee/elein.git
[submodule "magit"]
	path = magit
	url = http://github.com/philjackson/magit.git
[submodule "gist.el"]
	path = gist.el
	url = http://github.com/defunkt/gist.el.git
[submodule "org-mode"]
	path = org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "auto-complete"]
	path = auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "ac-slime"]
	path = ac-slime
	url = http://github.com/purcell/ac-slime.git
[submodule "company"]
	path = company
	url = https://github.com/nschum/company.git
[submodule "clojure-mode"]
	path = clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "slime"]
	path = slime
	url = https://github.com/nablaone/slime.git
[submodule "slime-company"]
	path = slime-company
	url = https://github.com/emacsmirror/slime-company.git
[submodule "swank-clojure"]
	path = swank-clojure
	url = https://github.com/technomancy/swank-clojure.git
[submodule "cl-closure-template"]
	path = cl-closure-template
	url = https://github.com/archimag/cl-closure-template.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = https://github.com/emacsmirror/yasnippet.git
[submodule "smart-tab"]
	path = smart-tab
	url = https://github.com/genehack/smart-tab.git
[submodule "js2-mode"]
	path = js2-mode
	url = git://github.com/mooz/js2-mode.git
